<br>
<div class="row" style="align-items: center;
  justify-content: center;">
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-white">Question {{numOfQuestions}}</div>
      <div class="card-body">
        <p>{{this.question}}</p>
        <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div class="form-check" *ngFor="let answer of this.answers; let i =index">
          <input class="form-check-input" type="radio" formControlName="{{'question'}}" value="{{answer}}">
          <label class="form-check-label" for="{{'question'}}">
            {{answer}}
          </label>
        </div>
      <div class="btn btn-dark" style="float: right" (click)="onSubmit()">
        Submit
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
