<div class="py-5">
  <div class="container" style="
margin: 30px auto 0;
padding: 40px;
background-color: rgba(143,187,255,0.8);
width: 70%;
border-radius:20px">
    <div class="row">
      <div class="col-md-8 text-center" data-aos="fade-right">
        <h1>Welcome to our test!</h1>
        <h3>You will be given 3 presentations with short test afterwards</h3>
      </div>
      <div class="col-md-4 text-center" style="margin: auto auto;">
        <img class="img img-fluid" src="assets/test.png" style="width: 30%; height: auto">
      </div>
    </div>
    <div class="row" data-aos="fade-right">
      <div class="col-md-8 text-center">
        <h3 class="card-text">Click this button to start</h3>
        <br>
        <button (click)="goToPresentations()" class="btn btn-info btn-lg">Start</button>
      </div>
    </div>
    </div>
  <br>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="card welcome">
      <img class="card-img-top" src="assets/img1.png" data-aos="fade-left" alt="Card image cap" width="30%" height="auto">
      <div class="card-body">
        <h5 class="card-title">The 2010s in movies</h5>
        <p class="card-text">You'll learn what movies were popular in 2010s</p>
        <p class="card-text"><small class="text-muted">Presentation 1</small></p>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="card welcome">
        <img class="card-img-top" src="assets/img2.png" data-aos="fade-down" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Most impactful TV series of 21st century</h5>
          <p class="card-text">You'll learn what TV series had the biggest impact on our generation</p>
          <p class="card-text"><small class="text-muted">Presentation 2</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card welcome">
        <img class="card-img-top " src="assets/img3.png" data-aos="fade-down" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The most popular games of 21st century</h5>
          <p class="card-text">Brief history of modern gaming</p>
          <p class="card-text"><small class="text-muted">Presentation 3</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


