.btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #007bff;
  box-shadow: 0 0 10px #007bff;
}

.welcome {
  transition: all 0.3s ease-in-out;
}

.welcome:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.welcome:hover .card-title {
  color: #007bff;
}

.welcome:hover .card-text {
  color: #6c757d;
}

.welcome:hover .btn {
  background-color: #007bff;
  border-color: #007bff;
}
